<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76571982181-csumj1m6vrb26fuubt2f1rkse6m3bvfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76571982181-csumj1m6vrb26fuubt2f1rkse6m3bvfe</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ4wzN3B4llYB5LtrB4AkNuLsfK_vjlK0</string>
	<key>GCM_SENDER_ID</key>
	<string>76571982181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riyadhMetro</string>
	<key>PROJECT_ID</key>
	<string>my-metro-app-gp2</string>
	<key>STORAGE_BUCKET</key>
	<string>my-metro-app-gp2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76571982181:ios:d346fefd27b25b841cc98c</string>
</dict>
</plist>